.button {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 12.5px 20px;
    border-radius: 10px;
    font-size: 13px;
    font-family: MarkPro;
    text-align: center;
    flex: 1;
}

/* .button p {
    padding-top: 4px;
} */

.button:hover, .label:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.input {
    display: none;
}

.label {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 12.5px 20px;
    border-radius: 10px;
    font-size: 13px;
    font-family: MarkPro;
    text-align: center;
    flex: 1;
}

/* .label p {
    padding-top: 4px;
} */