.box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    font-weight: bold;
}

.hoverEffectDark:hover {
    background-color: #202020;
    cursor: pointer;
}

.hoverEffectLight:hover {
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}

.selected {
    border: 1px gray solid;
    padding: 14px;
}

.id {
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 15px;
}

.iconCircle {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.x {
    color: #ff5c5c;
    background-color: rgb(36, 36, 36);
}

.check {
    color: #05B770;
    background-color: rgb(36, 36, 36);
}

.x:hover {
    background-color: #ff5c5c;
    color: rgb(36, 36, 36);
}

.check:hover {
    background-color: #05B770;
    color: rgb(36, 36, 36); 
}