.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.messageBubble, .userMessageBubble {
    min-width: 40px;
    max-width: 75%;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 3.75px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    white-space: pre-line;
}

.userMessageBubble {
    background-color: #ff5c5c;

}

.time {
    font-size: 12px;
    color: gray;
    cursor: default;
}