.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    background-color: #ececec;
}

.nav .logo {
    position: absolute;
    top: 25px;
    left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.section:hover {
    cursor: pointer;
}

.dark:hover {
    background-color: #1d1d1d;
}

.light:hover {
    background-color: rgb(204, 204, 204);
}

.expandText {
    display: none;
    opacity: 0;
    color: #ff5c5c;
    font-size: 18px;
    font-weight: bold;
}

@keyframes fadeIn {
    from{
        opacity: 0;
     }
     to{
         opacity: 1;
     }
}

.nav:hover .expandText {
    display: flex;
    animation: fadeIn .5s;
    opacity: 1;
}

.settings {
    position: absolute;
    bottom: 25px;
    left: 10px;
}

.settings:hover {
    width: 180px;
}