.bellContainer {
    position: absolute;
    top: 33px;
    right: 80px;
    color: #acacac;
    cursor: pointer;
}

.dark:hover {
    color: #eeeeee;
}

.light:hover {
    color: #7a7a7a;
}

.titleContainer {
    display: flex;
    padding: 10px 20px 15px 20px;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    font-weight: bold;
    font-size: 17px;
    color: #ff5c5c;
}

.close:hover {
    color: #ff5c5c;
    cursor: pointer;
}