.bellContainer {
    position: absolute;
    top: 33px;
    right: 33px;
    color: gray;
    cursor: pointer;
    z-index: 99;
}

.bellContainer:hover {
    color: rgb(152, 152, 152);
}

.titleContainer {
    display: flex;
    padding: 10px 20px 15px 20px;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    font-weight: bold;
    font-size: 17px;
    color: #ff5c5c;
}

.close:hover {
    color: #ff5c5c;
    cursor: pointer;
}
