.box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px gray solid;
    color: gray;
    height: 57.5px;
    width: 100%;
    font-family: MarkPro;
    font-size: 12px;
}

.box:focus-within {
    border-width: 2px;
    padding: 5px 7px;
}

.darkEditable, .lightEditable {
    cursor: text;
}

.darkEditable:hover {
    background-color: #1d1d1d;
}

.lightEditable:hover {
    background-color: #ececec;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 5px;
    font-family: Nunito;
    font-weight: bold;
}