.dark {
    height: 100vh;
    background-color: #181818;
    padding-left: 80px;
    color: white;
}

.light {
    height: 100vh;
    background-color: white;
    padding-left: 80px;
    color: black;
}