.main {
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    width: 50%;
    height: 100%;
    min-width: 500px;
    padding: 0px 80px;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    width: 50%;
    height: 100%;
    min-width: 500px;
    background-color: #ff5c5c;
}

.title {
    font-size: 3.25vw;
    font-weight: bold;
    color: white;
    font-family: "Roboto";
}

.descContainer {
    margin-top: 20px;
    max-width: 800px;
}

.desc {
    font-size: 1.5vw;
    color: #464646;
    font-weight: bold;
}

.button {
    background-color: #ff5c5c;
    padding: 15px 25px;
    margin-top: 30px;
    max-width: 240px;
    text-align: center;
    border-radius: 25px;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #ff4141;
}

.largeImage {
    width: 45%;
    min-width: 700px;
    z-index: 2;
}

.svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 50px;
    left: 75px;
    display: flex;
    align-items: center;
    gap: 12.5px;
    font-size: 30px;
    font-weight: bold;
    color: #ff5c5c;
}

.rightTitle {
    position: absolute;
    top: 120px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

@media (max-width: 999px) {
    .left {
        width: 100%;
        padding: 0px 30px;
        min-width: 0px;
        align-items: center;
    }
    .logo {
        font-size: 24px;
        top: 25px;
        left: 25px;
    }
    .title {
        font-size: 4.25vw;
    }
    .desc {
        text-align: center;
        font-size: 2.5vw;
    }
    .button {
        padding: 14px 22.5px;
        font-size: 20px;
    }
    .rightTitle {
        font-size: 50px;
    }
}

@media (max-width: 700px) {
    .left {
        padding: 0px 30px;
    }
    .title {
        font-size: 6.25vw;
    }
    .desc {
        font-size: 3.5vw;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 8.5vw;
    }
    .desc {
        font-size: 4.25vw;
    }
    .button {
        padding: 13px 20px;
        font-size: 18px;
        max-width: 200px;
    }
    .rightTitle {
        font-size: 40px;
    }
}