.main {
    height: 100vh;
    /* background: rgb(124,210,255);
    background: linear-gradient(344deg, rgba(124,210,255,1) 0%, rgba(255,105,105,1) 45%, rgba(247,108,110,1) 56%, rgba(246,255,166,1) 100%); */
    /* background-color: #9cffd6; */
    background-color: white;
    /* background-color: #3db8ff; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    width: 50%;
    height: 100%;
    min-width: 500px;
    padding: 0px 80px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 50%;
    height: 100%;
    min-width: 500px;
    background-color: #ff5c5c;
}

.title {
    font-size: 64px;
    font-weight: bold;
    color: white;
    font-family: "Roboto";
}

.descContainer {
    margin-top: 20px;
    max-width: 800px;
}

.desc {
    font-size: 26px;
    color: #464646;
    font-weight: bold;
}

.button {
    background-color: #ff5c5c;
    padding: 15px 25px;
    margin-top: 30px;
    max-width: 240px;
    text-align: center;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.largeImage {
    width: 45%;
    min-width: 700px;
    z-index: 2;
}

.svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.logo {
    width: 300px;
}

@media (max-width: 999px) {
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
}