.main {
    height: 100vh;
    background: linear-gradient(344deg, rgba(124,210,255,1) 0%, rgba(255,105,105,1) 45%, rgba(247,108,110,1) 56%, rgba(246,255,166,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

@keyframes slideAway {
    0% {
        opacity: 1;
    }
    100% {
        right: 100%;
        opacity: 0;
    }
}

.slideAway {
    display: none;
    animation: slideAway 2s ease-out;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container label {
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
}

.container input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #e7e7e7;
    border: 0px;
}

.container input:focus {
    outline-color: #b9b9b9;
}

.signupButton {
    height: 50px;
    width: 300px;
    margin-top: 20px;
    background-color: #ff5c5c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.signupButton:hover {
    background-color: #ff4141;
}

.option {
    margin: 20px 0px;
    font-size: 15px;
    color: #686868;
}

.link {
    color: #ff5c5c;
    font-weight: bold;
    cursor: pointer;
}

.link:hover {
    color: #ff5c5c;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 700px) {
    .container {
        width: 350px;
        height: 575px;
    }
    .container label {
        max-width: 250px;
        font-size: 14px;
        margin-top: 12.5px;
    }
    .container input {
        height: 35px;
        width: 250px;
        font-size: 12px;
    } 
    .signupButton {
        height: 45px;
        width: 250px;
        margin-top: 15px;
        font-size: 15px;
    }
    .option {
        font-size: 14px;
    }
}