.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 40px 20px;
    overflow-y: scroll;
}

.id {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 5px 10px;
    transform: translate(0, -50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.save {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 75px;
    color: #ff5c5c;
    padding: 4px 9px;
    background-color: rgba(255, 132, 132, 0.102);
    cursor: pointer;
    transform: translate(0, -50%);
}

.account {
    width: 35%;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.buttonRow {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.error {
    position: absolute;
    top: 6px;
    left: 90px;
    color: rgb(255, 121, 121);
}

@media screen and (max-width: 800px) {
    .main {
        padding-top: 30px;
    }
    .save {
        font-size: 14px;
    }
}