.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 40px 20px;
    overflow-y: scroll;
}

.id {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 5px 10px;
    transform: translate(0, -50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.account {
    width: 35%;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.buttonRow {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .main {
        padding-top: 30px;
    }
}