.main {
    height: 100%;
    display: flex;
    justify-content: center;
}

.leftSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSection {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
}

.leftSectionTitle {
    font-size: 18px;
    font-family: MarkPro;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px;
    color: #ff5c5c;
    height: 65px;
    padding-top: 30px;
}

.rightSectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: MarkPro;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px;
    height: 65px;
    padding: 15px;
    gap: 10px;
}


.id {
    padding: 2.5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.addFriend {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    overflow-y: scroll;
}

.messages {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 15px;
    padding-bottom: 83px;
    overflow-y: scroll;
}

.messageBubble, .userMessageBubble {
    min-width: 40px;
    max-width: 75%;
    border-radius: 20px;
    padding: 6px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    white-space: pre-line;
}

/* .messageBubble {
    filter: drop-shadow(5px 7px 6px rgba(0,0,0,0.65));
}    */

.userMessageBubble {
    background-color: #ff5c5c;
    margin-left: auto;
    /* filter: drop-shadow(-5px 7px 6px rgba(0,0,0,0.65)); */
}

.messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    min-height: 60px;
    width: 100%;
    padding: 10px 15px 20px 15px;
    gap: 15px;
}

.enterMessage {
    font-size: 15px;
    font-family: Nunito;
    padding: 12px 15px;
    border-radius: 5px;
    width: 100%;
    min-height: 18px;
    outline: none;
    border: none;
    resize: none;
}

.enterMessage::-webkit-input-placeholder {
    transform-origin: 0% 50%;
}

@media screen and (max-width: 800px) {
}